In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os

In [2]:
# Read in our dataset
df = pd.read_csv("CrashData_OpenData.csv")
df.head()

C:\Users\Home\AppData\Local\Temp\ipykernel_12832\1458870752.py:2: DtypeWarning: Columns (22,32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("CrashData_OpenData.csv")

,X,Y,OBJECTID,Crash_Severity,County,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Distance,...,Lighting,HWY_Factors,Agency,Accident_Rec_Num,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType,CrashDateTimeUTC,GlobalID
0,-115.106709,36.236043,663733,PROPERTY DAMAGE ONLY,CLARK,2016/01/04 10:27:00+00,2016,10:27:00 AM,IR15N,1.0,...,DAYLIGHT,NONE,NHP,2224407.0,NaN,NaN,NaN,NaN,NaN,{0087FD29-7934-4ECF-8F61-F2CB6A3C77F2}
1,-119.673794,39.626433,663734,PROPERTY DAMAGE ONLY,WASHOE,2016/01/07 05:52:59+00,2016,5:53:00 AM,HUBBLE DR,20.0,...,NaN,NaN,SPPD,2310434.0,NaN,NaN,NaN,NaN,NaN,{00FDF71D-5A6D-4715-B67D-064A9177A811}
2,-115.101063,36.240200,663735,PROPERTY DAMAGE ONLY,CLARK,2016/01/04 07:21:59+00,2016,7:22:00 AM,SR573,30.0,...,DAYLIGHT,"WET, ICY, SNOW, SLUSH",NHP,2224394.0,NaN,NaN,NaN,NaN,NaN,{010D62A2-A007-45DF-A118-4C4F4257FBB4}
3,-119.633092,39.516952,663736,PROPERTY DAMAGE ONLY,WASHOE,2016/01/06 00:20:00+00,2016,12:20:00 AM,IR80W,1320.0,...,DARK - NO LIGHTING,"WET, ICY, SNOW, SLUSH",NHP,2224528.0,NaN,NaN,NaN,NaN,NaN,{012E2795-17CA-4A8E-8992-8F3AE7E6D99F}
4,-115.140570,36.192680,663737,PROPERTY DAMAGE ONLY,CLARK,2016/01/03 02:29:59+00,2016,2:30:00 AM,IR15S,200.0,...,DARK - SPOT LIGHTING,NONE,NHP,2215025.0,NaN,NaN,NaN,NaN,NaN,{01B574F5-18E1-4129-B2CE-7E562525D3B7}

In [3]:
# Check dimensions
df.shape

(237338, 52)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237338 entries, 0 to 237337
Data columns (total 52 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   X                      237338 non-null  float64
 1   Y                      237338 non-null  float64
 2   OBJECTID               237338 non-null  int64
 3   Crash_Severity         237338 non-null  object
 4   County                 237338 non-null  object
 5   Crash_Date             237338 non-null  object
 6   Crash_Year             237338 non-null  int64
 7   Crash_Time             237338 non-null  object
 8   Primary_Street         237338 non-null  object
 9   Distance               165624 non-null  float64
 10  Dir                    237338 non-null  object
 11  Secondary_Street       237325 non-null  object
 12  Weather                236307 non-null  object
 13  Fatalities             1489 non-null    float64
 14  Injured                100630 non-null  float64
 15  Property_Damage_Only   135789 non-null  object
 16  Injury_Type            101276 non-null  object
 17  Crash_Type             236999 non-null  object
 18  Total_Vehicles         237338 non-null  int64
 19  V1_Type                227370 non-null  object
 20  V1_Dir                 207409 non-null  object
 21  V1_Driver_Age          183453 non-null  float64
 22  V1_Lane_Num            163753 non-null  object
 23  V1_Action              236779 non-null  object
 24  V1_Driver_Factors      216065 non-null  object
 25  V1_Driver_Distracted   10155 non-null   object
 26  V1_Vehicle_Factors     215165 non-null  object
 27  V1_Most_Harmful_Event  116017 non-null  object
 28  V1_All_Events          123912 non-null  object
 29  V2_Type                195167 non-null  object
 30  V2_Dir                 192606 non-null  object
 31  V2_Driver_Age          159253 non-null  float64
 32  V2_Lane_Num            140902 non-null  object
 33  V2_Action              196390 non-null  object
 34  V2_Driver_Factors      185394 non-null  object
 35  V2_Driver_Distracted   198 non-null     object
 36  V2_Vehicle_Factors     31568 non-null   object
 37  V2_Most_Harmful_Event  100853 non-null  object
 38  V2_All_Events          44275 non-null   object
 39  First_Harmful_Event    113439 non-null  object
 40  Nonmotorist_Factors    4973 non-null    object
 41  Factors_Roadway        210348 non-null  object
 42  Lighting               205123 non-null  object
 43  HWY_Factors            203103 non-null  object
 44  Agency                 237026 non-null  object
 45  Accident_Rec_Num       237181 non-null  float64
 46  Pedalcyclist           2301 non-null    object
 47  Pedestrian             4964 non-null    object
 48  Motorcyclist           5154 non-null    object
 49  AnimalType             4108 non-null    object
 50  CrashDateTimeUTC       0 non-null       float64
 51  GlobalID               237338 non-null  object
dtypes: float64(9), int64(3), object(40)
memory usage: 94.2+ MB

In [5]:
df.head(5)

,X,Y,OBJECTID,Crash_Severity,County,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Distance,...,Lighting,HWY_Factors,Agency,Accident_Rec_Num,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType,CrashDateTimeUTC,GlobalID
0,-115.106709,36.236043,663733,PROPERTY DAMAGE ONLY,CLARK,2016/01/04 10:27:00+00,2016,10:27:00 AM,IR15N,1.0,...,DAYLIGHT,NONE,NHP,2224407.0,NaN,NaN,NaN,NaN,NaN,{0087FD29-7934-4ECF-8F61-F2CB6A3C77F2}
1,-119.673794,39.626433,663734,PROPERTY DAMAGE ONLY,WASHOE,2016/01/07 05:52:59+00,2016,5:53:00 AM,HUBBLE DR,20.0,...,NaN,NaN,SPPD,2310434.0,NaN,NaN,NaN,NaN,NaN,{00FDF71D-5A6D-4715-B67D-064A9177A811}
2,-115.101063,36.240200,663735,PROPERTY DAMAGE ONLY,CLARK,2016/01/04 07:21:59+00,2016,7:22:00 AM,SR573,30.0,...,DAYLIGHT,"WET, ICY, SNOW, SLUSH",NHP,2224394.0,NaN,NaN,NaN,NaN,NaN,{010D62A2-A007-45DF-A118-4C4F4257FBB4}
3,-119.633092,39.516952,663736,PROPERTY DAMAGE ONLY,WASHOE,2016/01/06 00:20:00+00,2016,12:20:00 AM,IR80W,1320.0,...,DARK - NO LIGHTING,"WET, ICY, SNOW, SLUSH",NHP,2224528.0,NaN,NaN,NaN,NaN,NaN,{012E2795-17CA-4A8E-8992-8F3AE7E6D99F}
4,-115.140570,36.192680,663737,PROPERTY DAMAGE ONLY,CLARK,2016/01/03 02:29:59+00,2016,2:30:00 AM,IR15S,200.0,...,DARK - SPOT LIGHTING,NONE,NHP,2215025.0,NaN,NaN,NaN,NaN,NaN,{01B574F5-18E1-4129-B2CE-7E562525D3B7}

In [6]:
df.describe()

,X,Y,OBJECTID,Crash_Year,Distance,Fatalities,Injured,Total_Vehicles,V1_Driver_Age,V2_Driver_Age,Accident_Rec_Num,CrashDateTimeUTC
count,237338.000000,237338.000000,237338.000000,237338.000000,165624.000000,1489.000000,100630.000000,237338.000000,183453.000000,159253.000000,2.371810e+05,0.0
mean,-116.118398,36.957822,782401.500000,2017.877841,442.469335,1.078576,1.536222,1.951681,39.106114,41.393041,2.719363e+06,NaN
std,1.838500,1.492376,68513.723432,1.370374,1315.668359,0.335817,0.903075,0.590174,17.191858,15.448453,3.708054e+05,NaN
min,-120.005476,35.072088,663733.000000,2016.000000,0.100000,1.000000,1.000000,0.000000,1.000000,2.000000,1.140500e+04,NaN
25%,-115.335885,36.100901,723067.250000,2017.000000,50.000000,1.000000,1.000000,2.000000,25.000000,29.000000,2.368963e+06,NaN
50%,-115.183400,36.167954,782401.500000,2018.000000,200.000000,1.000000,1.000000,2.000000,35.000000,40.000000,2.523913e+06,NaN
75%,-115.120809,36.314060,841735.750000,2019.000000,500.000000,1.000000,2.000000,2.000000,51.000000,53.000000,3.081789e+06,NaN
max,-114.044980,41.998326,901070.000000,2020.000000,242880.000000,5.000000,14.000000,13.000000,109.000000,117.000000,3.225099e+06,NaN

In [7]:
categorical = df.dtypes[df.dtypes == "object"].index
print(categorical)

df[categorical].describe()

Index(['Crash_Severity', 'County', 'Crash_Date', 'Crash_Time',
       'Primary_Street', 'Dir', 'Secondary_Street', 'Weather',
       'Property_Damage_Only', 'Injury_Type', 'Crash_Type', 'V1_Type',
       'V1_Dir', 'V1_Lane_Num', 'V1_Action', 'V1_Driver_Factors',
       'V1_Driver_Distracted', 'V1_Vehicle_Factors', 'V1_Most_Harmful_Event',
       'V1_All_Events', 'V2_Type', 'V2_Dir', 'V2_Lane_Num', 'V2_Action',
       'V2_Driver_Factors', 'V2_Driver_Distracted', 'V2_Vehicle_Factors',
       'V2_Most_Harmful_Event', 'V2_All_Events', 'First_Harmful_Event',
       'Nonmotorist_Factors', 'Factors_Roadway', 'Lighting', 'HWY_Factors',
       'Agency', 'Pedalcyclist', 'Pedestrian', 'Motorcyclist', 'AnimalType',
       'GlobalID'],
      dtype='object')

,Crash_Severity,County,Crash_Date,Crash_Time,Primary_Street,Dir,Secondary_Street,Weather,Property_Damage_Only,Injury_Type,...,Nonmotorist_Factors,Factors_Roadway,Lighting,HWY_Factors,Agency,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType,GlobalID
count,237338,237338,237338,237338,237338,237338,237325,236307,135789,101276,...,4973,210348,205123,203103,237026,2301,4964,5154,4108,237338
unique,3,17,219876,1440,10146,6,15827,56,1,4,...,166,14,15,219,42,1,1,1,11,237338
top,PROPERTY DAMAGE ONLY,CLARK,2018/02/22 15:53:00+00,4:00:00 PM,US95N,AT INT,SR159,CLEAR,PDO,C,...,UNKNOWN,DRY,DAYLIGHT,NONE,LVMPD,YES,YES,YES,DEER,{0087FD29-7934-4ECF-8F61-F2CB6A3C77F2}
freq,135789,178458,11,646,5992,71714,1980,189732,135789,72367,...,1748,187405,136675,157543,88857,2301,4964,5154,1620,1

In [8]:
clark_df = df[df['County'].str.contains('CL')]
print (clark_df)

                 X          Y  OBJECTID        Crash_Severity County  \
0      -115.106709  36.236043    663733  PROPERTY DAMAGE ONLY  CLARK
2      -115.101063  36.240200    663735  PROPERTY DAMAGE ONLY  CLARK
4      -115.140570  36.192680    663737  PROPERTY DAMAGE ONLY  CLARK
5      -115.278964  36.136313    663738           FATAL CRASH  CLARK
6      -115.162277  36.232014    663739          INJURY CRASH  CLARK
...            ...        ...       ...                   ...    ...
237333 -115.125575  36.086392    901066          INJURY CRASH  CLARK
237334 -115.170558  36.123567    901067  PROPERTY DAMAGE ONLY  CLARK
237335 -115.296210  36.114934    901068          INJURY CRASH  CLARK
237336 -115.033041  36.056311    901069  PROPERTY DAMAGE ONLY  CLARK
237337 -115.173247  36.125607    901070          INJURY CRASH  CLARK

                    Crash_Date  Crash_Year   Crash_Time    Primary_Street  \
0       2016/01/04 10:27:00+00        2016  10:27:00 AM             IR15N
2       2016/01/04 07:21:59+00        2016   7:22:00 AM             SR573
4       2016/01/03 02:29:59+00        2016   2:30:00 AM             IR15S
5       2016/01/03 00:00:00+00        2016   9:22:00 PM      S DURANGO DR
6       2016/01/06 06:01:59+00        2016   6:02:00 AM    W ALEXANDER RD
...                        ...         ...          ...               ...
237333  2020/12/31 13:24:00+00        2020   1:24:00 PM      E RUSSELL RD
237334  2020/12/29 20:03:59+00        2020   8:04:00 PM  S LAS VEGAS BLVD
237335  2020/12/31 01:24:00+00        2020   1:24:00 AM     W FLAMINGO RD
237336  2020/12/28 17:19:59+00        2020   5:20:00 PM   WARM SPRINGS RD
237337  2020/12/30 21:53:00+00        2020   9:53:00 PM     MEL TORME WAY

        Distance  ...                     Lighting  \
0            1.0  ...                     DAYLIGHT
2           30.0  ...                     DAYLIGHT
4          200.0  ...         DARK - SPOT LIGHTING
5          147.0  ...  DARK - CONTINUOUS LIGHTING
6          100.0  ...  DARK - CONTINUOUS LIGHTING
...          ...  ...                          ...
237333     412.0  ...                     DAYLIGHT
237334     783.0  ...  DARK - CONTINUOUS LIGHTING
237335     240.0  ...  DARK - CONTINUOUS LIGHTING
237336       5.0  ...  DARK - CONTINUOUS LIGHTING
237337      10.0  ...         DARK - SPOT LIGHTING

                              HWY_Factors Agency  Accident_Rec_Num  \
0                                    NONE    NHP         2224407.0
2                   WET, ICY, SNOW, SLUSH    NHP         2224394.0
4                                    NONE    NHP         2215025.0
5                                    NONE  LVMPD         2221432.0
6                                    NONE   NLPD         2215818.0
...                                   ...    ...               ...
237333  WORK ZONE (CONST. MAINT. UTILITY)  LVMPD         3145910.0
237334                               NONE  LVMPD         3145748.0
237335                               NONE  LVMPD         3146377.0
237336                               NONE   HEPD         3223422.0
237337                               NONE    NHP         3147538.0

        Pedalcyclist Pedestrian Motorcyclist AnimalType  CrashDateTimeUTC  \
0                NaN        NaN          NaN        NaN               NaN
2                NaN        NaN          NaN        NaN               NaN
4                NaN        NaN          NaN        NaN               NaN
5                NaN        YES          NaN        NaN               NaN
6                NaN        YES          NaN        NaN               NaN
...              ...        ...          ...        ...               ...
237333           NaN        NaN          NaN        NaN               NaN
237334           NaN        NaN          NaN        NaN               NaN
237335           NaN        NaN          NaN        NaN               NaN
237336           NaN        NaN          NaN        NaN               NaN
237337           NaN        NaN          NaN        NaN               NaN

                                      GlobalID
0       {0087FD29-7934-4ECF-8F61-F2CB6A3C77F2}
2       {010D62A2-A007-45DF-A118-4C4F4257FBB4}
4       {01B574F5-18E1-4129-B2CE-7E562525D3B7}
5       {0200F72F-52F9-4E26-BA4B-76C3387E088F}
6       {0218E945-CE8F-4EF8-A93E-DA08E0AB1655}
...                                        ...
237333  {FB130F71-4945-4D88-8294-818A65FCD6A1}
237334  {FB209CA0-5222-4FCA-9E3E-1859B25EFA42}
237335  {FDBCD936-FA23-4323-A5FA-8459D28BFE28}
237336  {FDE7861D-219D-4A77-B116-4EFAE25A3A80}
237337  {FF736BF8-3236-45C8-9B1E-8066FE11359F}

[178458 rows x 52 columns]

In [9]:
clark_df.head()

,X,Y,OBJECTID,Crash_Severity,County,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Distance,...,Lighting,HWY_Factors,Agency,Accident_Rec_Num,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType,CrashDateTimeUTC,GlobalID
0,-115.106709,36.236043,663733,PROPERTY DAMAGE ONLY,CLARK,2016/01/04 10:27:00+00,2016,10:27:00 AM,IR15N,1.0,...,DAYLIGHT,NONE,NHP,2224407.0,NaN,NaN,NaN,NaN,NaN,{0087FD29-7934-4ECF-8F61-F2CB6A3C77F2}
2,-115.101063,36.240200,663735,PROPERTY DAMAGE ONLY,CLARK,2016/01/04 07:21:59+00,2016,7:22:00 AM,SR573,30.0,...,DAYLIGHT,"WET, ICY, SNOW, SLUSH",NHP,2224394.0,NaN,NaN,NaN,NaN,NaN,{010D62A2-A007-45DF-A118-4C4F4257FBB4}
4,-115.140570,36.192680,663737,PROPERTY DAMAGE ONLY,CLARK,2016/01/03 02:29:59+00,2016,2:30:00 AM,IR15S,200.0,...,DARK - SPOT LIGHTING,NONE,NHP,2215025.0,NaN,NaN,NaN,NaN,NaN,{01B574F5-18E1-4129-B2CE-7E562525D3B7}
5,-115.278964,36.136313,663738,FATAL CRASH,CLARK,2016/01/03 00:00:00+00,2016,9:22:00 PM,S DURANGO DR,147.0,...,DARK - CONTINUOUS LIGHTING,NONE,LVMPD,2221432.0,NaN,YES,NaN,NaN,NaN,{0200F72F-52F9-4E26-BA4B-76C3387E088F}
6,-115.162277,36.232014,663739,INJURY CRASH,CLARK,2016/01/06 06:01:59+00,2016,6:02:00 AM,W ALEXANDER RD,100.0,...,DARK - CONTINUOUS LIGHTING,NONE,NLPD,2215818.0,NaN,YES,NaN,NaN,NaN,{0218E945-CE8F-4EF8-A93E-DA08E0AB1655}

In [10]:
clark_df.shape

(178458, 52)

In [11]:
clark_df.County.unique()

array(['CLARK'], dtype=object)

In [12]:
clark_df.isnull()

,X,Y,OBJECTID,Crash_Severity,County,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Distance,...,Lighting,HWY_Factors,Agency,Accident_Rec_Num,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType,CrashDateTimeUTC,GlobalID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237333,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
237334,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
237335,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
237336,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
237337,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False

In [13]:
clark_df.dtypes

X                        float64
Y                        float64
OBJECTID                   int64
Crash_Severity            object
County                    object
Crash_Date                object
Crash_Year                 int64
Crash_Time                object
Primary_Street            object
Distance                 float64
Dir                       object
Secondary_Street          object
Weather                   object
Fatalities               float64
Injured                  float64
Property_Damage_Only      object
Injury_Type               object
Crash_Type                object
Total_Vehicles             int64
V1_Type                   object
V1_Dir                    object
V1_Driver_Age            float64
V1_Lane_Num               object
V1_Action                 object
V1_Driver_Factors         object
V1_Driver_Distracted      object
V1_Vehicle_Factors        object
V1_Most_Harmful_Event     object
V1_All_Events             object
V2_Type                   object
V2_Dir                    object
V2_Driver_Age            float64
V2_Lane_Num               object
V2_Action                 object
V2_Driver_Factors         object
V2_Driver_Distracted      object
V2_Vehicle_Factors        object
V2_Most_Harmful_Event     object
V2_All_Events             object
First_Harmful_Event       object
Nonmotorist_Factors       object
Factors_Roadway           object
Lighting                  object
HWY_Factors               object
Agency                    object
Accident_Rec_Num         float64
Pedalcyclist              object
Pedestrian                object
Motorcyclist              object
AnimalType                object
CrashDateTimeUTC         float64
GlobalID                  object
dtype: object

In [14]:
drop_df = clark_df.drop(['OBJECTID','County','Property_Damage_Only','Agency','CrashDateTimeUTC','GlobalID','Fatalities','V1_Driver_Distracted','V1_Most_Harmful_Event','V1_All_Events','V2_Driver_Distracted','V2_Most_Harmful_Event','V2_All_Events','Nonmotorist_Factors','Distance','Injured','V1_Lane_Num','V2_Lane_Num','V2_Vehicle_Factors','First_Harmful_Event','Accident_Rec_Num'], axis=1)

In [15]:
drop_df.head()

,X,Y,Crash_Severity,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Dir,Secondary_Street,Weather,...,V2_Driver_Age,V2_Action,V2_Driver_Factors,Factors_Roadway,Lighting,HWY_Factors,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType
0,-115.106709,36.236043,PROPERTY DAMAGE ONLY,2016/01/04 10:27:00+00,2016,10:27:00 AM,IR15N,S,IR15N TO SR573W/E INT48,CLOUDY,...,NaN,GOING STRAIGHT,NaN,DRY,DAYLIGHT,NONE,NaN,NaN,NaN,NaN
2,-115.101063,36.240200,PROPERTY DAMAGE ONLY,2016/01/04 07:21:59+00,2016,7:22:00 AM,SR573,W,IR15N TO SR573W INT48,CLOUDY: RAIN,...,53.0,STOPPED,APPARENTLY NORMAL,DRY,DAYLIGHT,"WET, ICY, SNOW, SLUSH",NaN,NaN,NaN,NaN
4,-115.140570,36.192680,PROPERTY DAMAGE ONLY,2016/01/03 02:29:59+00,2016,2:30:00 AM,IR15S,S,SR147E TO IR15S INT45,CLEAR,...,NaN,NaN,NaN,WET,DARK - SPOT LIGHTING,NONE,NaN,NaN,NaN,NaN
5,-115.278964,36.136313,FATAL CRASH,2016/01/03 00:00:00+00,2016,9:22:00 PM,S DURANGO DR,S,EDNA AVE,CLEAR,...,NaN,NaN,NaN,DRY,DARK - CONTINUOUS LIGHTING,NONE,NaN,YES,NaN,NaN
6,-115.162277,36.232014,INJURY CRASH,2016/01/06 06:01:59+00,2016,6:02:00 AM,W ALEXANDER RD,W,MARTIN L KING BLVD,RAIN,...,NaN,NaN,NaN,DRY,DARK - CONTINUOUS LIGHTING,NONE,NaN,YES,NaN,NaN

In [16]:
drop_df.shape

(178458, 31)

In [17]:
drop_df.isnull().sum()

X                          0
Y                          0
Crash_Severity             0
Crash_Date                 0
Crash_Year                 0
Crash_Time                 0
Primary_Street             0
Dir                        0
Secondary_Street           1
Weather                  553
Injury_Type            96955
Crash_Type               166
Total_Vehicles             0
V1_Type                 7687
V1_Dir                 21503
V1_Driver_Age          41376
V1_Action                387
V1_Driver_Factors      15428
V1_Vehicle_Factors     14986
V2_Type                23791
V2_Dir                 25331
V2_Driver_Age          51460
V2_Action              23031
V2_Driver_Factors      29362
Factors_Roadway        19446
Lighting               24764
HWY_Factors            25691
Pedalcyclist          176737
Pedestrian            174594
Motorcyclist          174754
AnimalType            177567
dtype: int64

In [18]:
drop_df['Pedalcyclist'].fillna('Unknown', inplace=True)
drop_df['Pedestrian'].fillna('Unknown', inplace=True)
drop_df['Motorcyclist'].fillna('Unknown', inplace=True)
drop_df['AnimalType'].fillna('Unknown', inplace=True)
drop_df['Secondary_Street'].fillna('Unknown', inplace=True)
drop_df['Weather'].fillna('Unknown', inplace=True)
drop_df['Injury_Type'].fillna('Unknown', inplace=True)
drop_df['Crash_Type'].fillna('Unknown', inplace=True)
drop_df['V1_Type'].fillna('Unknown', inplace=True)
drop_df['V1_Dir'].fillna('Unknown', inplace=True)
drop_df['V1_Action'].fillna('Unknown', inplace=True)
drop_df['V1_Driver_Factors'].fillna('Unknown', inplace=True)
drop_df['V1_Vehicle_Factors'].fillna('Unknown', inplace=True)
drop_df['V2_Type'].fillna('Unknown', inplace=True)
drop_df['V2_Dir'].fillna('Unknown', inplace=True)
drop_df['V2_Action'].fillna('Unknown', inplace=True)
drop_df['V2_Driver_Factors'].fillna('Unknown', inplace=True)
drop_df['Factors_Roadway'].fillna('Unknown', inplace=True)
drop_df['Lighting'].fillna('Unknown', inplace=True)
drop_df['HWY_Factors'].fillna('Unknown', inplace=True)

In [19]:
drop_df.isnull().sum()

X                         0
Y                         0
Crash_Severity            0
Crash_Date                0
Crash_Year                0
Crash_Time                0
Primary_Street            0
Dir                       0
Secondary_Street          0
Weather                   0
Injury_Type               0
Crash_Type                0
Total_Vehicles            0
V1_Type                   0
V1_Dir                    0
V1_Driver_Age         41376
V1_Action                 0
V1_Driver_Factors         0
V1_Vehicle_Factors        0
V2_Type                   0
V2_Dir                    0
V2_Driver_Age         51460
V2_Action                 0
V2_Driver_Factors         0
Factors_Roadway           0
Lighting                  0
HWY_Factors               0
Pedalcyclist              0
Pedestrian                0
Motorcyclist              0
AnimalType                0
dtype: int64

In [20]:
drop_df['V1_Driver_Age'] = drop_df['V1_Driver_Age'].fillna(drop_df['V1_Driver_Age'].mean())

In [21]:
drop_df.isnull().sum()

X                         0
Y                         0
Crash_Severity            0
Crash_Date                0
Crash_Year                0
Crash_Time                0
Primary_Street            0
Dir                       0
Secondary_Street          0
Weather                   0
Injury_Type               0
Crash_Type                0
Total_Vehicles            0
V1_Type                   0
V1_Dir                    0
V1_Driver_Age             0
V1_Action                 0
V1_Driver_Factors         0
V1_Vehicle_Factors        0
V2_Type                   0
V2_Dir                    0
V2_Driver_Age         51460
V2_Action                 0
V2_Driver_Factors         0
Factors_Roadway           0
Lighting                  0
HWY_Factors               0
Pedalcyclist              0
Pedestrian                0
Motorcyclist              0
AnimalType                0
dtype: int64

In [22]:
drop_df['V2_Driver_Age'] = drop_df['V2_Driver_Age'].fillna(drop_df['V2_Driver_Age'].mean())

In [23]:
drop_df.isnull().sum()

X                     0
Y                     0
Crash_Severity        0
Crash_Date            0
Crash_Year            0
Crash_Time            0
Primary_Street        0
Dir                   0
Secondary_Street      0
Weather               0
Injury_Type           0
Crash_Type            0
Total_Vehicles        0
V1_Type               0
V1_Dir                0
V1_Driver_Age         0
V1_Action             0
V1_Driver_Factors     0
V1_Vehicle_Factors    0
V2_Type               0
V2_Dir                0
V2_Driver_Age         0
V2_Action             0
V2_Driver_Factors     0
Factors_Roadway       0
Lighting              0
HWY_Factors           0
Pedalcyclist          0
Pedestrian            0
Motorcyclist          0
AnimalType            0
dtype: int64

In [24]:
drop_df.duplicated().sum()

95

In [25]:
dupe_df = drop_df.drop_duplicates()
dupe_df.head(5)

,X,Y,Crash_Severity,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Dir,Secondary_Street,Weather,...,V2_Driver_Age,V2_Action,V2_Driver_Factors,Factors_Roadway,Lighting,HWY_Factors,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType
0,-115.106709,36.236043,PROPERTY DAMAGE ONLY,2016/01/04 10:27:00+00,2016,10:27:00 AM,IR15N,S,IR15N TO SR573W/E INT48,CLOUDY,...,41.084545,GOING STRAIGHT,Unknown,DRY,DAYLIGHT,NONE,Unknown,Unknown,Unknown,Unknown
2,-115.101063,36.240200,PROPERTY DAMAGE ONLY,2016/01/04 07:21:59+00,2016,7:22:00 AM,SR573,W,IR15N TO SR573W INT48,CLOUDY: RAIN,...,53.000000,STOPPED,APPARENTLY NORMAL,DRY,DAYLIGHT,"WET, ICY, SNOW, SLUSH",Unknown,Unknown,Unknown,Unknown
4,-115.140570,36.192680,PROPERTY DAMAGE ONLY,2016/01/03 02:29:59+00,2016,2:30:00 AM,IR15S,S,SR147E TO IR15S INT45,CLEAR,...,41.084545,Unknown,Unknown,WET,DARK - SPOT LIGHTING,NONE,Unknown,Unknown,Unknown,Unknown
5,-115.278964,36.136313,FATAL CRASH,2016/01/03 00:00:00+00,2016,9:22:00 PM,S DURANGO DR,S,EDNA AVE,CLEAR,...,41.084545,Unknown,Unknown,DRY,DARK - CONTINUOUS LIGHTING,NONE,Unknown,YES,Unknown,Unknown
6,-115.162277,36.232014,INJURY CRASH,2016/01/06 06:01:59+00,2016,6:02:00 AM,W ALEXANDER RD,W,MARTIN L KING BLVD,RAIN,...,41.084545,Unknown,Unknown,DRY,DARK - CONTINUOUS LIGHTING,NONE,Unknown,YES,Unknown,Unknown

In [26]:
dupe_df.duplicated().sum()

0

In [27]:
dupe_df.dtypes

X                     float64
Y                     float64
Crash_Severity         object
Crash_Date             object
Crash_Year              int64
Crash_Time             object
Primary_Street         object
Dir                    object
Secondary_Street       object
Weather                object
Injury_Type            object
Crash_Type             object
Total_Vehicles          int64
V1_Type                object
V1_Dir                 object
V1_Driver_Age         float64
V1_Action              object
V1_Driver_Factors      object
V1_Vehicle_Factors     object
V2_Type                object
V2_Dir                 object
V2_Driver_Age         float64
V2_Action              object
V2_Driver_Factors      object
Factors_Roadway        object
Lighting               object
HWY_Factors            object
Pedalcyclist           object
Pedestrian             object
Motorcyclist           object
AnimalType             object
dtype: object

In [28]:
dupe_df['Crash_Date'] = pd.to_datetime(dupe_df['Crash_Date'], format = '%Y-%m-%d %H:%M')
dupe_df.dtypes

C:\Users\Home\AppData\Local\Temp\ipykernel_12832\1509074981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupe_df['Crash_Date'] = pd.to_datetime(dupe_df['Crash_Date'], format = '%Y-%m-%d %H:%M')

X                                 float64
Y                                 float64
Crash_Severity                     object
Crash_Date            datetime64[ns, UTC]
Crash_Year                          int64
Crash_Time                         object
Primary_Street                     object
Dir                                object
Secondary_Street                   object
Weather                            object
Injury_Type                        object
Crash_Type                         object
Total_Vehicles                      int64
V1_Type                            object
V1_Dir                             object
V1_Driver_Age                     float64
V1_Action                          object
V1_Driver_Factors                  object
V1_Vehicle_Factors                 object
V2_Type                            object
V2_Dir                             object
V2_Driver_Age                     float64
V2_Action                          object
V2_Driver_Factors                  object
Factors_Roadway                    object
Lighting                           object
HWY_Factors                        object
Pedalcyclist                       object
Pedestrian                         object
Motorcyclist                       object
AnimalType                         object
dtype: object

In [29]:
dupe_df['Crash_Time'] = pd.to_datetime(dupe_df['Crash_Date'], format = '%Y-%m-%d %H:%M')
dupe_df.dtypes

C:\Users\Home\AppData\Local\Temp\ipykernel_12832\3492413096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupe_df['Crash_Time'] = pd.to_datetime(dupe_df['Crash_Date'], format = '%Y-%m-%d %H:%M')

X                                 float64
Y                                 float64
Crash_Severity                     object
Crash_Date            datetime64[ns, UTC]
Crash_Year                          int64
Crash_Time            datetime64[ns, UTC]
Primary_Street                     object
Dir                                object
Secondary_Street                   object
Weather                            object
Injury_Type                        object
Crash_Type                         object
Total_Vehicles                      int64
V1_Type                            object
V1_Dir                             object
V1_Driver_Age                     float64
V1_Action                          object
V1_Driver_Factors                  object
V1_Vehicle_Factors                 object
V2_Type                            object
V2_Dir                             object
V2_Driver_Age                     float64
V2_Action                          object
V2_Driver_Factors                  object
Factors_Roadway                    object
Lighting                           object
HWY_Factors                        object
Pedalcyclist                       object
Pedestrian                         object
Motorcyclist                       object
AnimalType                         object
dtype: object

In [30]:
dupe_df['V1_Driver_Age']

0         35.0
2         31.0
4         56.0
5         35.0
6         43.0
          ...
237333    31.0
237334    62.0
237335    21.0
237336    28.0
237337    18.0
Name: V1_Driver_Age, Length: 178363, dtype: float64

In [31]:
dupe_df['V1_Driver_Age'] = dupe_df['V1_Driver_Age'].astype(int)
dupe_df.dtypes

C:\Users\Home\AppData\Local\Temp\ipykernel_12832\2921938852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupe_df['V1_Driver_Age'] = dupe_df['V1_Driver_Age'].astype(int)

X                                 float64
Y                                 float64
Crash_Severity                     object
Crash_Date            datetime64[ns, UTC]
Crash_Year                          int64
Crash_Time            datetime64[ns, UTC]
Primary_Street                     object
Dir                                object
Secondary_Street                   object
Weather                            object
Injury_Type                        object
Crash_Type                         object
Total_Vehicles                      int64
V1_Type                            object
V1_Dir                             object
V1_Driver_Age                       int32
V1_Action                          object
V1_Driver_Factors                  object
V1_Vehicle_Factors                 object
V2_Type                            object
V2_Dir                             object
V2_Driver_Age                     float64
V2_Action                          object
V2_Driver_Factors                  object
Factors_Roadway                    object
Lighting                           object
HWY_Factors                        object
Pedalcyclist                       object
Pedestrian                         object
Motorcyclist                       object
AnimalType                         object
dtype: object

In [32]:
dupe_df['V2_Driver_Age'] = dupe_df['V2_Driver_Age'].astype(int)
dupe_df.dtypes

C:\Users\Home\AppData\Local\Temp\ipykernel_12832\2397836620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupe_df['V2_Driver_Age'] = dupe_df['V2_Driver_Age'].astype(int)

X                                 float64
Y                                 float64
Crash_Severity                     object
Crash_Date            datetime64[ns, UTC]
Crash_Year                          int64
Crash_Time            datetime64[ns, UTC]
Primary_Street                     object
Dir                                object
Secondary_Street                   object
Weather                            object
Injury_Type                        object
Crash_Type                         object
Total_Vehicles                      int64
V1_Type                            object
V1_Dir                             object
V1_Driver_Age                       int32
V1_Action                          object
V1_Driver_Factors                  object
V1_Vehicle_Factors                 object
V2_Type                            object
V2_Dir                             object
V2_Driver_Age                       int32
V2_Action                          object
V2_Driver_Factors                  object
Factors_Roadway                    object
Lighting                           object
HWY_Factors                        object
Pedalcyclist                       object
Pedestrian                         object
Motorcyclist                       object
AnimalType                         object
dtype: object

In [33]:
dupe_df.head(5)

,X,Y,Crash_Severity,Crash_Date,Crash_Year,Crash_Time,Primary_Street,Dir,Secondary_Street,Weather,...,V2_Driver_Age,V2_Action,V2_Driver_Factors,Factors_Roadway,Lighting,HWY_Factors,Pedalcyclist,Pedestrian,Motorcyclist,AnimalType
0,-115.106709,36.236043,PROPERTY DAMAGE ONLY,2016-01-04 10:27:00+00:00,2016,2016-01-04 10:27:00+00:00,IR15N,S,IR15N TO SR573W/E INT48,CLOUDY,...,41,GOING STRAIGHT,Unknown,DRY,DAYLIGHT,NONE,Unknown,Unknown,Unknown,Unknown
2,-115.101063,36.240200,PROPERTY DAMAGE ONLY,2016-01-04 07:21:59+00:00,2016,2016-01-04 07:21:59+00:00,SR573,W,IR15N TO SR573W INT48,CLOUDY: RAIN,...,53,STOPPED,APPARENTLY NORMAL,DRY,DAYLIGHT,"WET, ICY, SNOW, SLUSH",Unknown,Unknown,Unknown,Unknown
4,-115.140570,36.192680,PROPERTY DAMAGE ONLY,2016-01-03 02:29:59+00:00,2016,2016-01-03 02:29:59+00:00,IR15S,S,SR147E TO IR15S INT45,CLEAR,...,41,Unknown,Unknown,WET,DARK - SPOT LIGHTING,NONE,Unknown,Unknown,Unknown,Unknown
5,-115.278964,36.136313,FATAL CRASH,2016-01-03 00:00:00+00:00,2016,2016-01-03 00:00:00+00:00,S DURANGO DR,S,EDNA AVE,CLEAR,...,41,Unknown,Unknown,DRY,DARK - CONTINUOUS LIGHTING,NONE,Unknown,YES,Unknown,Unknown
6,-115.162277,36.232014,INJURY CRASH,2016-01-06 06:01:59+00:00,2016,2016-01-06 06:01:59+00:00,W ALEXANDER RD,W,MARTIN L KING BLVD,RAIN,...,41,Unknown,Unknown,DRY,DARK - CONTINUOUS LIGHTING,NONE,Unknown,YES,Unknown,Unknown

In [34]:
# Save dataframe to CSV
dupe_df.to_csv('C:/Users/Home/Traffic_Analysis/cleaned_traffic_data_nick.csv')